In [12]:
import pandas as pd
import numpy as np

days = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
users = [45, 48, 50, 49, 52, 54, 53, 56, 58, 57]


data = {
    'Day': days,
    'Users': users
}


Data_Table = pd.DataFrame(data)

print("Here is your new data table:")
display(Data_Table)

mean = Data_Table['Users'].mean()
print(f"Mean: {mean} ")

Standard_Deviation = Data_Table['Users'].std(ddof=0)
print(f"Standard Deviation: {Standard_Deviation} ")


Autocorrelation = np.corrcoef(Data_Table['Users'][:-1], Data_Table['Users'][1:])[0, 1]
print(f"Autocorrelation: {Autocorrelation} ")

Here is your new data table:

   Day  Users
0    1     45
1    2     48
2    3     50
3    4     49
4    5     52
5    6     54
6    7     53
7    8     56
8    9     58
9   10     57

Mean: 52.2
Standard Deviation: 3.9949968710876362
Autocorrelation: 0.8981250589967372